* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style-type: none;
}

section {
    padding-bottom: 150px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;    
}
/* common css ends */

/* first section */

.orange-highlight {
    color: orange;
}

.section-bg .container .half-section {
    width: 45%;
    margin: 0 5%;
}

.section-bg .container .half-section h1 {
    font-size: 50px;
    line-height: 55px;
    padding-bottom: 30px;
}

.section-bg .container .half-section h2 {
    font-size: 25px;
    padding-bottom: 25px;
}

.section-bg .container .half-section p {
    font-size: 15px;
    padding-bottom: 25px;
}

.section-bg .container .half-section a {
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(0deg, orange, rgb(255, 106, 0));
    border-radius: 5px;
}

.section-bg .container .half-section img {
    width: 100%;
}

.section-bg {
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}

/* second section */
.dream-bg {
    background-image: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

/* third section */

.experiance-bg {
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.experiance-bg h2 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.experiance-bg .half-section {
    padding: 20px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.experiance-bg .half-section h2 {
    font-size: 30px;
}

.experiance-bg .half-section h5 {
    font-size: 20px;
    padding-bottom: 15px;
}